{% extends "base.twig" %}

{% block content %}

    <!--===================== Slider ========================-->
    {% if post.show_slider and post.meta('slider_show_date') < currentTime %}


        <div class="courusel-container" {% if post.slider_background_image %} style="background-image: url({{ post.meta('slider_background_image') }})" {% endif %}>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div id="sync1" class="owl-carousel owl-theme">
                            {% for item in post.meta('slider') %}
                                <div class="item">
                                    <div class="inside">
                                        <h1>{{ item.title }}</h1>
                                        <p>{{ item.text }}</p>
                                        {% if item.button_link %}
                                            <a href="{{ item.button_link }}" class="blue-brd-btn" target="_blank">{{ item.button_text }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div id="sync2" class="owl-carousel owl-theme">
                            {% for item in post.meta('slider') %}
                                <div class="item">
                                    <span>0{{ loop.index }}</span>
                                </div>
                            {% endfor %}
                        </div><!--owl-carousel-->
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    <!--===================== End of Slider ========================-->
    <!--===================== Reasons Block ========================-->
    <div class="container animatedParent">
        <div class="row reasons-block">
            <div class="col-xl-4 col-lg-4 col-12 animated bounceInLeft delay-250">
                <h2 class="h2-main">A few reasons why we might be the right fet</h2>
            </div>
            <div class="col-xl-8 col-lg-8 col-12">
                <div class="row">
                    <div class="col-sm-6 animated bounceInRight delay-250">
                        <!--===================== Reason Block Cont ========================-->
                        <div class="reason-block-cont">
                            <div class="reasons-icon-div">
                                <img src="{{ site.theme.link }}/assets/img/reason-icon1.svg" alt="images">
                            </div>
                            <div class="reasons-desc-div">
                                <h4>Money is in your bank account in 2 hours</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <!--===================== End of Reason Block Cont ========================-->
                    </div>
                    <div class="col-sm-6 animated bounceInRight delay-250">
                        <!--===================== Reason Block Cont ========================-->
                        <div class="reason-block-cont">
                            <div class="reasons-icon-div">
                                <img src="{{ site.theme.link }}/assets/img/reason-icon2.svg" alt="images">
                            </div>
                            <div class="reasons-desc-div">
                                <h4>Saving money<br>for you</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <!--===================== End of Reason Block Cont ========================-->
                    </div>
                    <div class="col-sm-6 animated bounceInRight delay-500">
                        <!--===================== Reason Block Cont ========================-->
                        <div class="reason-block-cont">
                            <div class="reasons-icon-div">
                                <img src="{{ site.theme.link }}/assets/img/reason-icon3.svg" alt="images">
                            </div>
                            <div class="reasons-desc-div">
                                <h4>Money is in your bank account in 2 hours</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <!--===================== End of Reason Block Cont ========================-->
                    </div>
                    <div class="col-sm-6 animated bounceInRight delay-500">
                        <!--===================== Reason Block Cont ========================-->
                        <div class="reason-block-cont">
                            <div class="reasons-icon-div">
                                <img src="{{ site.theme.link }}/assets/img/reason-icon4.svg" alt="images">
                            </div>
                            <div class="reasons-desc-div">
                                <h4>Saving money<br>for you</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <!--===================== End of Reason Block Cont ========================-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================== End of Reasons Block ========================-->
    <!--===================== philosophy Block ========================-->
    <div class="philosophy-block">
        <div class="container-fluid">
            <div class="row animatedParent">
                <div class="col-md-6 philosophy-div1 animated bounceInLeft delay-250">
                    <div class="coin-speacial-block">
                        <img src="{{ site.theme.link }}/assets/img/bitcoin-element.png" alt="images">
                        <h4>Coins Special</h4>
                        <p>Lorem ipsum ееdolor sit amet, consectetur adipiscing elit.</p>
                        <span>$7 500</span>
                    </div>
                </div>
                <div class="col-md-6 philosophy-div2 animated bounceInRight delay-500">
                    <h4>Our philosophy</h4>
                    <h2 class="h2-main">We were always thinking global </h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.</p>
                    <a href="{{ site.theme.link }}/blog-grid.html" class="see-brd-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!--===================== End of philosophy Block ========================-->
    <!--===================== Iphone Block ========================-->
    <div class="iphone-block animatedParent">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center animated growIn">
                    <div class="icon">
                        <img src="{{ site.theme.link }}/assets/img/icon-phone.svg" alt="icon-phone">
                    </div>
                    <h2 class="h2-main">Device friendly widget</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam</p>
                    <a href="{{ site.theme.link }}/blog-grid.html" class="see-brd-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!--===================== End of Iphone Block ========================-->
    <!--===================== Live Currency ========================-->
    <div class="container-fluid live-currency animatedParent">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4 offset-lg-1 live-currency-div1 animated bounceInLeft delay-250">
                <h4>Crypto market</h4>
                <h2 class="h2-main">Live currency</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                <a href="{{ site.theme.link }}/calculator.html" class="see-brd-btn">To Calculator</a>
            </div>
            <div class="col-lg-7 col-md-8 live-currency-div2 animated bounceInRight delay-500">
                <img src="{{ site.theme.link }}/assets/img/line-bitcoin.png" alt="images">
                <div class="live-currency-cont">
                    <div>
                        <h4>Ethereum</h4>
                        <p>$323.6</p>
                    </div>
                    <div>
                        <h4>Bitcoin</h4>
                        <p>$7 500</p>
                    </div>
                    <div>
                        <h4>IOTA</h4>
                        <p>$0.5669</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================== End of Live Currency ========================-->
    <!--===================== OurTeam ========================-->
    <div class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-center">
                            <a href="{{ site.theme.link }}/about-us.html" class="images">
                                <img class="first" src="{{ site.theme.link }}/assets/img/team.png" alt="team">
                                <h5>Maria Spilka</h5>
                                <span>Ceo &amp; Founder</span>
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <div class="text">
                                <h4>Team</h4>
                                <h2 class="h2-main">Meett our team</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="{{ site.theme.link }}/#">About company<img src="{{ site.theme.link }}/assets/img/arrow-right.svg" alt="arrow-right"></a>
                            </div>
                        </div>
                    </div>
                    <div class="grid masonry">

                        {% for member in team %}
                            <div class="grid-item grid-item-width1">
                                <a href="{{ site.theme.link }}/about-us.html" class="images130">
                                    <img src="{{ site.theme.link }}/assets/img/team2.png" alt="team">
                                    <h5>{{ member.title }}</h5>
                                    <span>Ceo &amp; Founder</span>
                                </a>
                            </div>
                        {% endfor %}

                        <div class="grid-item grid-item-width1 text-right">
                            <a href="{{ site.theme.link }}/about-us.html" class="images100">
                                <img src="{{ site.theme.link }}/assets/img/team3.png" alt="team">
                                <h5>Nil Goldman</h5>
                                <span>Ceo &amp; Founder</span>
                            </a>
                        </div>
                        <div class="grid-item grid-item-width1 text-right">
                            <a href="{{ site.theme.link }}/about-us.html" class="images130">
                                <img src="{{ site.theme.link }}/assets/img/team2.png" alt="team">
                                <h5>Nil Goldman</h5>
                                <span>Ceo &amp; Founder</span>
                            </a>
                        </div>
                        <div class="grid-item grid-item-width1 text-xl-center text-sm-center">
                            <a href="{{ site.theme.link }}/about-us.html" class="images160">
                                <img src="{{ site.theme.link }}/assets/img/team6.png" alt="team">
                                <h5>Nil Goldman</h5>
                                <span>Ceo &amp; Founder</span>
                            </a>
                        </div>
                        <div class="grid-item grid-item-width2 text-center">
                            <a href="{{ site.theme.link }}/about-us.html" class="images160">
                                <img src="{{ site.theme.link }}/assets/img/team6.png" alt="team">
                                <h5>Nil Goldman</h5>
                                <span>Ceo &amp; Founder</span>
                            </a>
                        </div>
                        <div class="grid-item grid-item-width2 text-left">
                            <a href="{{ site.theme.link }}/about-us.html" class="images100">
                                <img src="{{ site.theme.link }}/assets/img/team3.png" alt="team">
                                <h5>Nadin Spilka</h5>
                                <span>Ceo &amp; Founder</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================== End of OurTeam ========================-->
    <!--===================== Price Plan Wrapper ========================-->
    <div class="price-plan-block">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h2 class="h2-main">Our price plan</h2>
                </div>
            </div>
            <div class="row justify-content-center animatedParent">
                <div class="col-xl-3 col-lg-6 col-md-6 custom animated bounceInLeft delay-250">
                    <div class="price-plan-item-inside">
                        <div class="price-plan-icon-wrap plan-item-icon-1">
                            <img class="price-plan-item-icon" src="{{ site.theme.link }}/assets/img/our-price-icon-1.svg" alt="images">
                        </div>
                        <h4>Basic</h4>
                        <p class="price-plan-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h3>$19 per month</h3>
                        <p class="price-plan-text-2">10 Accounts <br> 25GB SSD Storage <br>250GB Bandwidth </p>
                        <a href="{{ site.theme.link }}/sign-up.html" class="see-brd-btn">Sign Up</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 custom animated bounceInLeft delay-500">
                    <div class="price-plan-item-inside">
                        <div class="price-plan-icon-wrap">
                            <img class="price-plan-item-icon" src="{{ site.theme.link }}/assets/img/our-price-icon-2.svg" alt="images">
                        </div>
                        <h4>Plus</h4>
                        <p class="price-plan-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h3>$19 per month</h3>
                        <p class="price-plan-text-2">10 Accounts <br> 25GB SSD Storage <br>250GB Bandwidth </p>
                        <a href="{{ site.theme.link }}/sign-up.html" class="see-brd-btn">Sign Up</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 custom animated bounceInRight delay-250">
                    <div class="price-plan-item-inside">
                        <div class="price-plan-icon-wrap">
                            <img class="price-plan-item-icon" src="{{ site.theme.link }}/assets/img/our-price-icon-3.svg" alt="images">
                        </div>
                        <h4>Pro</h4>
                        <p class="price-plan-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h3>$19 per month</h3>
                        <p class="price-plan-text-2">10 Accounts <br> 25GB SSD Storage <br>250GB Bandwidth </p>
                        <a href="{{ site.theme.link }}/sign-up.html" class="see-brd-btn">Sign Up</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 custom animated bounceInRight delay-500">
                    <div class="price-plan-item-inside">
                        <div class="price-plan-icon-wrap">
                            <img class="price-plan-item-icon" src="{{ site.theme.link }}/assets/img/our-price-icon-4.svg" alt="images">
                        </div>
                        <h4>Business</h4>
                        <p class="price-plan-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h3>$19 per month</h3>
                        <p class="price-plan-text-2">10 Accounts <br> 25GB SSD Storage <br>250GB Bandwidth </p>
                        <a href="{{ site.theme.link }}/sign-up.html" class="see-brd-btn">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================== End of Price Plan Wrapper ========================-->
    <!--===================== Reviews Wrapper ========================-->
    <div class="reviews-wrapper animatedParent">
        <div class="container">
            <div class="row">
                <div class="reviews-item col-xl-4 col-md-4 col-sm-12 animated bounceInLeft delay-250">
                    <div class="reviews-inside">
                        <div class="reviews-img-wrap">
                            <img src="{{ site.theme.link }}/assets/img/review-img1.png" alt="images">
                        </div>
                        <h4>Lora Michel</h4>
                        <p class="text-uppercase">Patel Psych</p>
                        <p class="review-text">“Absolutely wonderful! I am completelyblown away. The very best. I was amazed at the quality.”</p>
                    </div>
                </div>
                <div class="reviews-item col-xl-4 col-md-4 col-sm-12 animated bounceInLeft delay-500">
                    <div class="reviews-inside">
                        <div class="reviews-img-wrap">
                            <img src="{{ site.theme.link }}/assets/img/review-img1.png" alt="images">
                        </div>
                        <h4>Nina Rich</h4>
                        <p class="text-uppercase">Panax Pharma</p>
                        <p class="review-text">“Absolutely wonderful! I am completelyblown away. The very best. I was amazed at the quality.”</p>
                    </div>
                </div>
                <div class="reviews-item col-xl-4 col-md-4 col-sm-12 animated bounceInLeft delay-750">
                    <div class="reviews-inside">
                        <div class="reviews-img-wrap">
                            <img src="{{ site.theme.link }}/assets/img/review-img1.png" alt="images">
                        </div>
                        <h4>Robert Patinson</h4>
                        <p>HoolaHire</p>
                        <p class="review-text">“Absolutely wonderful! I am completelyblown away. The very best. I was amazed at the quality.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================== End of Reviews Wrapper ========================-->
    <!--===================== Last Mews ========================-->
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="last-news-title-wrap text-center">
                    <div class="icon">
                        <img src="{{ site.theme.link }}/assets/img/news-icon.svg" alt="icon-phone">
                    </div>
                    <h2 class="h2-main">Read our last news</h2>
                </div>
                <div id="news-owl-carousel" class="owl-carousel news-owl-carousel">
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">12/08</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma2"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma2"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">14/09</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma3"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma3"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">22/09</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma4"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma4"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">12/10</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma5"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma5"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">12/08</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma6"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma6"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">14/09</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma7"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma7"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">22/09</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma8"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma8"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">12/10</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma9"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma9"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">12/08</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma10"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma10"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">14/09</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma11"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma11"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">22/09</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma12"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma12"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">12/10</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma13"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma13"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">12/08</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma14"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma14"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">14/09</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma15"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma15"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">22/09</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma16"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma16"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                    <div class="item">
                        <!--===================== Last News ========================-->
                        <article class="post">
                            <div class="last-news-img-wrap">
                                <img src="{{ site.theme.link }}/assets/img/new-image1.jpg" alt="images">
                            </div>
                            <div class="last-news-info-wrap">
                                <h4 class="last-news-date">12/10</h4>
                                <a href="{{ site.theme.link }}/single-blog.html"><h4 class="last-news-title">Best Ways To Get Seller Leads In 2017: Tips From ...</h4></a>
                                <a href="{{ site.theme.link }}/#" class="read-more-btn">Read More
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="8" viewBox="0 0 11 8">
                                        <defs>
                                            <path id="zqnma17"
                                                  d="M246.3 6201.78a.31.31 0 0 1 0 .44l-3.26 3.3a.3.3 0 0 1-.44 0 .31.31 0 0 1 0-.45l2.73-2.76h-8.41a.31.31 0 0 1-.31-.31c0-.17.14-.31.3-.31h8.42l-2.73-2.76a.31.31 0 0 1 0-.44.3.3 0 0 1 .44 0z"/>
                                        </defs>
                                        <g>
                                            <g transform="translate(-236 -6198)">
                                                <use fill="#20add0" xlink:href="{{ site.theme.link }}/#zqnma17"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </article>
                        <!--===================== End of Last News ========================-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================== End of Last Mews ========================-->

{% endblock %}